pyautolabnova/resource_files/MetrohmSamplerConfig.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="qualified">
 <xs:element name="MetrohmSamplerConfig">
  <xs:complexType>
   <xs:sequence>
    <xs:element name="TreeNode" minOccurs="32" maxOccurs="32">
     <xs:complexType>
      <xs:sequence>
       <xs:element name="Tree" type="xs:string" minOccurs="1" maxOccurs="1"/>
       <xs:element name="Value" type="xs:string" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>      
     </xs:complexType>
    </xs:element>
   </xs:sequence>
  </xs:complexType>
 </xs:element>
</xs:schema>